@page "/"
@layout Layout.MainLayoutEmpty

<div class="keret">    
    <div>
        <h3>Üdvözöllek az oldalon</h3>
        <div class="gomb">
            <NavLink href="home">
                <button class="btn btn-outline-primary">belépés</button>
            </NavLink>
        </div>
    </div>      
</div>

