<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Számláló
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tennivalo">
                <span class="bi bi bi-card-checklist" aria-hidden="true"></span> Tennivók
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ureslap">
                <span class="bi bi-airplane-engines" aria-hidden="true"></span> Üreslap
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="me-3" aria-hidden="true"><Icon Name="IconName.CloudLightningRainFill" Size="IconSize.x4" Color="IconColor.Light" /></span> Időjárás
            </NavLink>
        </div>
    </nav>
</div>

