@page "/"
<div class="keret">
    <PageTitle>Kezdőlap</PageTitle>

    <h1>Üdvözöllek a weboldalamon! @teszt</h1>

    <button class="btn btn-primary">Teszt</button>


</div>

@code{

    public string teszt { get; set; } = "Ákos";

}